install_docker.sh
ubuntu-bionic-18.04-cloudimg-console.log
.vagrant/machines/default/virtualbox/action_provision
.vagrant/machines/default/virtualbox/action_set_name
.vagrant/machines/default/virtualbox/box_meta
.vagrant/machines/default/virtualbox/creator_uid
.vagrant/machines/default/virtualbox/id
.vagrant/machines/default/virtualbox/index_uuid
.vagrant/machines/default/virtualbox/private_key
.vagrant/machines/default/virtualbox/synced_folders
.vagrant/machines/default/virtualbox/vagrant_cwd
.vagrant/rgloader/loader.rb
jenkins/pass_jenkins.txt
jenkins/pipeline.txt
jenkins/.vagrant/bundler/global.sol
jenkins/.vagrant/machines/jenkins/virtualbox/action_provision
jenkins/.vagrant/machines/jenkins/virtualbox/action_set_name
jenkins/.vagrant/machines/jenkins/virtualbox/box_meta
jenkins/.vagrant/machines/jenkins/virtualbox/creator_uid
jenkins/.vagrant/machines/jenkins/virtualbox/id
jenkins/.vagrant/machines/jenkins/virtualbox/index_uuid
jenkins/.vagrant/machines/jenkins/virtualbox/private_key
jenkins/.vagrant/machines/jenkins/virtualbox/synced_folders
jenkins/.vagrant/machines/jenkins/virtualbox/vagrant_cwd
jenkins/.vagrant/rgloader/loader.rb
