.vagrant/bundler/global.sol
.vagrant/machines/kubernetes/virtualbox/action_provision
.vagrant/machines/kubernetes/virtualbox/action_set_name
.vagrant/machines/kubernetes/virtualbox/box_meta
.vagrant/machines/kubernetes/virtualbox/creator_uid
.vagrant/machines/kubernetes/virtualbox/id
.vagrant/machines/kubernetes/virtualbox/index_uuid
.vagrant/machines/kubernetes/virtualbox/private_key
.vagrant/machines/kubernetes/virtualbox/synced_folders
.vagrant/machines/kubernetes/virtualbox/vagrant_cwd
.vagrant/rgloader/loader.rb